# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment directories
.taskmgr

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
coverage.xml
*.py,cover

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyCharm
.idea/

# VSCode
.vscode/

# macOS
.DS_Store
*/.DS_Store

# Linux
*.swp

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Flask-specific
instance/
.webassets-cache

# Django-specific
*.log
*.pot
*.pyc
__pycache__
