---
services:
  mysql:
    image: "{{ docker_mysql_image }}"
    ports:
      - "{{ docker_mysql_host_port }}:{{ docker_mysql_container_port }}"
    environment:
      MYSQL_ROOT_PASSWORD: "{{ vault_docker_mysql_root_password }}"
      MYSQL_DATABASE: "{{ docker_mysql_database_name }}"
    volumes: # TODO: fix volumessssss
      - /Users/michal/Dev/mgr/db/schema.sql:/docker-entrypoint-initdb.d/schema.sql:ro

  api:
    image: "{{ docker_api_image }}"
    ports:
      - "{{ docker_api_host_port }}:{{ docker_api_container_port }}"
    volumes:
      - /Users/michal/Dev/mgr/src/api:/app # todo: CHANGE ME

  webserver:
    image: "{{ docker_nginx_image }}"
    ports:
      - "{{ docker_nginx_host_port }}:{{ docker_nginx_container_port }}"
    volumes: # todo: ChANGE THOSE BELOWWWWWW
    - /Users/michal/Dev/mgr/src/frontend:/usr/share/nginx/html:ro
    - /Users/michal/Dev/mgr/nginx.conf:/etc/nginx/conf.d/default.conf
